In [6]:
import pandas as pd
import numpy as np
import multiprocess
import time

In [7]:
# create a dataframe
num_rows = 1000000
num_columns = 5
data = {
    f'column_{i}': np.random.randint(0, 100, size=num_rows)
    for i in range(num_columns)
}
df = pd.DataFrame(data)
df

        column_0  column_1  column_2  column_3  column_4
0             65        35        98        74        18
1             30        15        90        54        49
2             53        26        99        68        79
3             82        31         9        22        31
4             88        16        56        47        61
...          ...       ...       ...       ...       ...
999995        14        83        71        43         1
999996        58        77        96        36        47
999997         4        89        38        19        71
999998        85        75        79        82        45
999999        74        76        99        58        24

[1000000 rows x 5 columns]

In [8]:
# number of chunks is same as number of cores to distribute uniformly
num_chunks = multiprocess.cpu_count()
num_chunks

11

In [9]:
# based on #cores estimating chunk size
chunk_size = len(df)//num_chunks
chunk_size

90909

In [124]:
for i in range(0, df.shape[0], chunk_size):
    print(i)

0
90909
181818
272727
363636
454545
545454
636363
727272
818181
909090
999999

In [14]:
# making list of 11 (#cores) chunks
chunks = []
rows = df.shape[0]

for i in range(0, rows, chunk_size):
    chunks.append(df[i:i+chunk_size])
    
chunks

[       column_0  column_1  column_2  column_3  column_4
 0            65        35        98        74        18
 1            30        15        90        54        49
 2            53        26        99        68        79
 3            82        31         9        22        31
 4            88        16        56        47        61
 ...         ...       ...       ...       ...       ...
 90904        97        65        44        42        52
 90905        67        82        90        65        48
 90906        86        54        91        84        17
 90907         2        54        17        82         9
 90908        23        19        79        13        31

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 90909          9        28        41        91        83
 90910         85        29        74        17        53
 90911         88        21        37        64        12
 90912         48        94        73        19         0
 90913         74        91        43        47        19
 ...          ...       ...       ...       ...       ...
 181813        10         3        58        53         5
 181814        51        15        15        61        63
 181815        25        48        37        16        47
 181816        92        87        17        53        71
 181817        87        94         0        40         2

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 181818        78        69         4         1        68
 181819         6        25        87         5        55
 181820        87        34        12        98        92
 181821        38        47        89        29        17
 181822        71        41        28         9        13
 ...          ...       ...       ...       ...       ...
 272722        89        58        59        60        91
 272723        86        27        37        28         2
 272724        19         1        78        57        52
 272725        76        28        17        62        13
 272726        40        29        70        66        87

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 272727        44         3        39        20        35
 272728        81        83        97         8        52
 272729        48        35        34        41        85
 272730         6        51        85        94        87
 272731        74        65        85        74        52
 ...          ...       ...       ...       ...       ...
 363631        54        26        93        63        31
 363632        81        15        12        13        79
 363633        31        54        91        63        72
 363634        28         7        71        96        83
 363635        11        68        90        58        71

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 363636        79         6        56        70        72
 363637        26        88        66        28        99
 363638        21        13        43         9        60
 363639        98         5        83        79        13
 363640         8        11        83        50        48
 ...          ...       ...       ...       ...       ...
 454540        94        60        66        95        99
 454541        13         4        57        22        54
 454542        57        88        75         2        28
 454543        11        58        62         8        27
 454544        13        32        99        56        13

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 454545        84        55        62        98        41
 454546        66         5        35        96         2
 454547        89        20        35        58        23
 454548        87         2        34        97        54
 454549        58        82        69        94        65
 ...          ...       ...       ...       ...       ...
 545449        72        55        18        28        69
 545450        40        64        19        93        73
 545451        66        77        95         9        39
 545452        43        48        18        91        86
 545453         3        26        38        15         4

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 545454        20        11        29        20        22
 545455        12        84        59        81        61
 545456        57        85        60        14        28
 545457        18        79         8         9        71
 545458        29        25        61        28         8
 ...          ...       ...       ...       ...       ...
 636358        63        83        55        64        41
 636359        25        55        62        53        29
 636360         4        86        66        21        88
 636361        25        53        10        73        32
 636362        94        78        88        32        27

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 636363        41        63        68        50        46
 636364        82        90        39        60        25
 636365        72        52        54        75        14
 636366        91        75        55        21        85
 636367        66        20        89        26        18
 ...          ...       ...       ...       ...       ...
 727267        79        66        89        33         6
 727268        68        10         6         9        85
 727269        67        71        19        70        69
 727270        36        36        28        42        32
 727271        23        90        46        24         4

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 727272        46        57        76        77         8
 727273        68         7        40        88        98
 727274        32        48         0         0        49
 727275        45        73        33        30        39
 727276        50        20        33        14        41
 ...          ...       ...       ...       ...       ...
 818176         2        82        16        10        41
 818177        48        81        52        67        73
 818178        49        65        16        26        77
 818179        77        89        63        70        25
 818180        41        39        35         6        21

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 818181        70        22        83        87        19
 818182        14        97        13        12        33
 818183        12        45        97        35        78
 818184         0        61        64        57        69
 818185        86        36        51        61        97
 ...          ...       ...       ...       ...       ...
 909085        26        82        14        18        91
 909086         3        13        56        59        19
 909087        31        57        32        49        60
 909088        88        67        42        60        25
 909089        99        23        99        23        81

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 909090        27        20        90        13        96
 909091        60        31        58        66        77
 909092        29        59         4        36        83
 909093        35        97        38        26        49
 909094        68         6        21        76        31
 ...          ...       ...       ...       ...       ...
 999994        38        35        18        35        19
 999995        14        83        71        43         1
 999996        58        77        96        36        47
 999997         4        89        38        19        71
 999998        85        75        79        82        45

 [90909 rows x 5 columns],
         column_0  column_1  column_2  column_3  column_4
 999999        74        76        99        58        24]

In [17]:
len(chunks)

12

12th chunk is because of over limit of chunk_size

In [18]:
chunks[11]

        column_0  column_1  column_2  column_3  column_4
999999        74        76        99        58        24

In [19]:
chunks[10]

        column_0  column_1  column_2  column_3  column_4
909090        27        20        90        13        96
909091        60        31        58        66        77
909092        29        59         4        36        83
909093        35        97        38        26        49
909094        68         6        21        76        31
...          ...       ...       ...       ...       ...
999994        38        35        18        35        19
999995        14        83        71        43         1
999996        58        77        96        36        47
999997         4        89        38        19        71
999998        85        75        79        82        45

[90909 rows x 5 columns]

In [113]:
# function to process the data
def process_data(chunk):
    return chunk.apply(lambda row: row.sum(), axis=1)

In [134]:
start_time = time.time()

# Create a Pool with 10 cores
with multiprocess.Pool(processes=num_chunks) as pool:
        # each input set is assigned to a single core for processing by the process_data function
        results = pool.map(process_data, chunks)

end_time = time.time()
print(end_time - start_time)

0.7402498722076416

In [20]:
# without parallel processing
result_for = []
start_time = time.time()

for i, row in df.iterrows():
    result_for.append(row.sum())

end_time = time.time()
print(end_time - start_time)

10.108469009399414